<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-label>Atrás</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="activation-container">
    <div class="text">
      <p class="title">Antes de continuar...</p>
      <p>
        Te hemos enviado un correo electrónico con un código de verificación de 6 dígitos.<br>Introduce el código:
      </p>
    </div>
    <div class="inputs">
      <form [formGroup]="userValidation">
        <ion-input formControlName="code" type="number" maxlength="6" placeholder="Código de verificación"></ion-input>
      </form>
    </div>
    <ion-button class="button-purple" expand="block" (click)="validateActivationCode()" [disabled]="!userValidation.valid">Verificar</ion-button>
    <div class="button-white" (click)="sendAgain()">Enviar un código nuevo</div>
  </div>
</ion-content>
