ion-content {
    --background: white;
}

.slider {
    height: 100vh;
    
    .slide-content {
        background: transparent;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image {
            height: 30%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text {
            height: 20%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: top;
            text-align: center;
            color: purple;
            font-size: 2.2vh;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;

            .white-button {
                --background: transparent;
                color: purple;
            }

            .start-button {
                --background: purple;
                color: white;
              }
        }
    }
}