<ion-content fullscreen scroll-y="false">
  <ion-slides pager class="slider" #slides (ionSlideWillChange)="doCheck()">
    <ion-slide *ngFor="let slide of slidesInfo">
      <div class="slide-content">
        <div class="image">
          <img src="slide.image" alt="">
        </div>
        <div class="text">
          <ion-label>
            {{slide.text}}
          </ion-label>
        </div>
        <div class="buttons">
          <div class="white-button" (click)="previousSlide()" *ngIf="!disablePrevBtn">Regresar</div>
          <div class="white-button" (click)="nextSlide()" *ngIf="!disableNextBtn">Siguiente</div>
          <ion-button class="start-button" (click)="goToHome()" *ngIf="disableNextBtn">Comenzar</ion-button>
        </div>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
