ion-content {
    --background: white;
}

.slider {
    height: 85vh;
    
    .slide-content {
        background: transparent;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image {
            height: 30%;
            //width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 4%;
        }

        .text {
            width: 90%;
            margin: 3% 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: top;
            text-align: center;
            color: purple;
            //font-size: 2.2vh;
            font-size: 15px;
        }
    }

    
}


.buttons {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 3% 10%;

    .left-button {
        width: 49%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: left;
        --background: transparent;
        color: purple;
        font-size: 13px;
    }

    .right-button {
        width: 49%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        --background: transparent;
        color: purple;
        font-size: 13px;

        .start-button {
            --background: purple;
            color: white;
            font-size: 13px;
        }
    }
}