ion-content {
    --background: white;
}
  
  .recommendations-container {
    background: transparent;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image {
        height: 20%;
        margin: 5% 0;
    }

    .text {
        width: 85vw;
        color: purple;
        text-align: justify;
        font-size: 2.2vh;

        .title {
            font-weight: bold;
            font-size: 3.5vh;
            margin: 5% 0;
        }
    }

    .button-purple {
        width: 85vw;
        margin: 5% 0;
        --background: purple;
        color: white;
    }
  }