<ion-content [fullscreen]="true">
  <div class="form-container">
    <form [formGroup]="userRegistration">
      <ion-item>
        <ion-input formControlName="name" class="form-inputs" type="text" maxlength="70" placeholder="Nombre Completo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="phone" class="form-inputs" type="tel" maxlength="10" placeholder="Teléfono celular"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="email" class="form-inputs" type="email" maxlength="70" placeholder="Correo Electónico"></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox formControlName="accept" checked="true">Acepta los <a>Términos y Condiciones</a></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-button class="button-purple" expand="block" (click)="sendInformation()">Continuar</ion-button>
      </ion-item>
    </form>
  </div>
</ion-content>
