ion-content {
  --background: white;
}

.form-container {
  background: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .image {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 5%;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;

    ion-input {
      width: 100%;
      --color: purple;
      --placeholder-color: gray;
      //font-size: 2.2vh;
      border: 0.5px solid gray;
      border-radius: 2px;
      margin: 2% 0;
    }

    .checkbox-container {
      margin: 3% 0;
      ion-checkbox {
        --background: transparent;
        --border-color: purple;
        --background-checked: purple;
        --border-color-checked: purple;
      }
      ion-label {
        padding-left: 2%;
        color: black;
        //font-size: 2.2vh;
      }
    }

    .button-purple {
      width: 100%;
      margin: 4% 0;
      --background: purple;
      color: white;
      align-self: center;
    }
  }
  
}



