ion-content {
  --background: white;
}

.form-container {
  background: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ion-input {
    width: 90vw;
    --color: purple;
    --placeholder-color: gray;
    border: 0.5px solid gray;
    border-radius: 2px;
    margin: 5% 0;
  }

  .checkbox-container {
    margin: 8% 0;
    ion-checkbox {
      --background-checked: purple;
      --border-color-checked: purple;
    }
    ion-label {
      padding-left: 2%;
      color: black;
    }
  }

  .button-purple {
    margin: 5% 0;
    --background: purple;
    color: white;
  }
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}



.submit-button{
  color:#FFF;
  background: rgba(0,0,0,0);
  border-radius: 30px !important;
  border: 1px solid #FFF;
}


