<ion-content [fullscreen]="true">
  <div class="form-container">
    <div class="image">
      <img src="/assets/logo/logo.png" alt="">
    </div>
    <form [formGroup]="userRegistration">
      <ion-input formControlName="name" type="text" maxlength="70" placeholder="Nombre Completo"></ion-input>
      <ion-input formControlName="phone" type="tel" maxlength="10" placeholder="Teléfono celular"></ion-input>
      <ion-input formControlName="email" type="email" maxlength="70" placeholder="Correo Electónico"></ion-input>
      <ion-datetime formControlName="year" placeholder="Año de nacimiento" displayFormat="YYYY" min="1900" max="2020"></ion-datetime>
      <div class="checkbox-container">
        <ion-checkbox formControlName="accept" checked="true"></ion-checkbox>
        <ion-label>Acepto los <a>Términos y Condiciones</a></ion-label>
      </div>
      <ion-button class="button-purple" expand="block" (click)="sendInformation()" [disabled]="!userRegistration.valid">Continuar</ion-button>
    </form>
  </div>

</ion-content>
