<ion-content [fullscreen]="true">
  <div class="diagnose-container">
    <div class="image">
      <h1>IMAGEN</h1>
    </div>
    <div class="text">
      <p class="title">Queremos cuidarte...</p>
      <p>
        <b>¿Ya fuiste diganosticado con COVID-19?</b><br><br>
        Si tu respuesta es afirmativa, a cotinuación te pedimos tomes una fotografía del diagnóstico y confirmes el envío.
      </p>
    </div>
    <ion-button class="button-purple" expand="block" (click)="takePicture()">Tomar fotografía</ion-button>
  </div>
</ion-content>