<ion-content [fullscreen]="true">
  <div class="diagnose-container">
    <div class="image">
      <img src="/assets/logo/logo.png" alt="">
    </div>
    <div class="text">
      <p class="title">Queremos cuidarte...</p>
      <p>
        Si no has sido diagnosticado, solo te pedimos mantener la aplicación abierta en segundo plano para que así registre 
        los teléfonos de todas las personas que hayan estado cerca de ti; y si ya fuiste diagnosticado, te pedimos tomar 
        fotografia de tu diagnóstico y confirmes el envío.
      </p>
    </div>
    <ion-button class="button-purple" expand="block" (click)="openCamera()">Tomar fotografía</ion-button>
    <ion-button class="button-purple" expand="block" (click)="test()">Test</ion-button>
  </div>
</ion-content>